.ocultar {
    display: none;
}

body {
    color: #566787;
    background: #bbbbbb;
}

/* Estilos para el texto de sugerencia (hint-text) */
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

/* Estilos para el botón deshabilitado */
.boton-deshabilitado {
    pointer-events: none;
    background-color: #ccc;
    color: #999;
    border-color: #999;
}